{% load static%}
{% load mptt_tags %}
<div id="sidebar" class="span3">
    <div class="well well-small">
        <ul class="nav nav-list">
            {% recursetree category %}
                <li>
                    <a href="/category/{{ node.id }}/{{ node.slug }}"{% if not node.is_leaf_node %}  class="icon-chevron-right"{% endif %} >{{ node.title }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>
