{% extends 'homebase.html' %}

{% block title %} Order List{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
    {% load static %}
{% endblock %}

{% block content %}
    <div class="span4">
        <div class="well">
            <div class="section-title">
                <h3 class="title">User Menu</h3>

            </div>

            <hr class="soften"/>

            <li><a href="/user">My Account</a></li>
            <li><a href="/user/comments">My Comments</a></li>
            <li><a href="/user/mekans">My Post</a></li>
            <li><a href="/user/update">Profile Update</a></li>
            <li><a href="/user/password">Change Password</a></li>
            <li><a href="/logout">Logout</a></li>


        </div>


    </div>


    <div class="span8">
        <div class="well">
            <div class="section-title">
                <h3 class="title">User mekan List</h3>
                <a class="btn btn-primary" href="/user/addmekan">Add mekan</a>
            </div>

            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="text-left">mekan</th>
                    <th class="text-left">Image</th>
                    <th class="text-left">Gallery</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Date</th>
                </tr>
                {% for rs in mekans %}
                    <tr>
                        <td class="text-left">{{ rs.title }}</td>
                        <td class="text-left"> <img style="width: 150px; height: 50px;" src="{{ rs.image.url }}"></td>
                        <td class="text-left">
                            <a href="javascript:;" onclick="window.open('/user/mekanaddimage/{{ rs.id }}', 'galley', 'height=600, width=800, top=50, left=150')">Resimler
                            </a>
                        </td>
                        <td class="text-left">{{ rs.description }}</td>
                        <td class="text-left">{{ rs.created_at }}</td>
                        <td class="text-left">
                            <a class="btn btn-primary" href="/user/mekanedit/{{ rs.id }}">Edit</a>
                        </td>
                        <td class="text-left">
                            <a onclick="return confirm('Will be Delete! Are you sure?')" class="btn btn-primary" href="/user/mekandelete/{{ rs.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}